<div class="footer">
    <div class="social-tray">
        <a href="" class="social"><img src="/images/facebook.svg" alt=""></a>
        <a href="" class="social"><img src="/images/ln.svg" alt=""></a>
        <a href="" class="social"><img src="/images/discord.svg" alt=""></a>
        <a href="" class="social"><img src="/images/instagram.svg" alt=""></a>
        <a href="" class="social"><img src="/images/telegram.svg" alt=""></a>
    </div>
    
    <p>Copyright © 2022  Prarambh</p>
</div>