<div class="hero">
    <div class="hero-content">
        <p class="slogan">Aspire to Inspire</p>
        <p class="motto">Protein company focused to ensure that our consumer recieve authentic product.Protein company focused to ensure that our consumer recieve authentic product</p>
    </div>
    <div class="hero-image-container">
        <img class="hero-image" src="/images/hero-ill.png" alt="">
    </div>
</div>