<div class="how-it-works">

    <div class="hiw-main-heading">How it works</div>

    <div class="hiw-main-content">Our mission is to give ability to our consumer that whether they our recieving authentic and genuine product using blockchain technology.</div>

    <div class="hiw-gallery">
        <div class="hiw-section">

            <div class="hiw-info">
                <p class="hiw-step">01</p>
                <p class="hiw-heading">Feed data during manufacturing</p>
                <p class="hiw-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="hiw-info">
                <p class="hiw-step">03</p>
                <p class="hiw-heading">Scan the qr.To know product detail</p>
                <p class="hiw-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

        </div>

        <div class="hiw-section">
            <img src="/images/2_phones_green 2 (3).png" alt="" class="hiw-hero-image">
        </div>


        <div class="hiw-section">
            <div class="hiw-info">
                <p class="hiw-step">02</p>
                <p class="hiw-heading">Indentify our customer</p>
                <p class="hiw-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>
    </div>

</div>