<div class="verification">
    <p>Check Authenticity of Your Product Now.</p>
    <form action="/verify" method="POST">
        <input type="text" name="txhash" id="txhash" placeholder="Enter Product Serial">
        <button type="submit" >Check Now</button>
    </form>
</div>