<div class="vision">
    <p class="vision-heading">We give you control to know what you consume.</p>
    <div class="vision-gallery">

        <div class="vision-tab">
            <img src="/images/img1.png" alt="" class="vision-tab-image">
            <p class="vision-tab-heading">Workout and Grow</p>
            <p class="vision-tab-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="vision-tab">
            <img src="/images/img1.png"  alt="" class="vision-tab-image">
            <p class="vision-tab-heading">Get Real Product</p>
            <p class="vision-tab-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="vision-tab">
            <img src="/images/img1.png"  alt="" class="vision-tab-image">
            <p class="vision-tab-heading">Say No to Middle Men</p>
            <p class="vision-tab-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

    </div>
</div>